# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# SQLite
*.db

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Vue.js / Vite
.DS_Store
.env.local
.env.*.local
dist/
dist-ssr/
coverage/
*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
